{% extends "base.html" %}


{% block content %}


  {% if user.is_authenticated %}
  <h1>hello Records</h1>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">zipcode</th>
        <th scope="col">created_at</th>
        <th scope="col">id</th>
        
      </tr>
    </thead>
    <tbody>
      
        {% if records %}
        {% for Record in records  %}

        <tr>
          <td>{{ Record.first_name }} {{ Record.last_name }}</td>
          <td>{{ Record.email }}</td>
          <td>{{ Record.phone }}</td>
          <td>{{ Record.address }}</td>
          <td>{{ Record.city }}</td>
          <td>{{ Record.state }}</td>
          <td>{{ Record.zipcode }}</td>
          <td>{{ Record.created_at }}</td>
          <td><a href=" {% url 'record' Record.id %}">{{ Record.id }}</a></td>
        </tr>
        
        {% endfor %}
     
     {% endif %}


        
  



      
    </tbody>
  </table>


  

  
  
  {%else%}
  <div class="col-md-6 offset-md-3">
      <h1>Login</h1><br>
      <form action="{% url 'home'%}" method="post">
      {% csrf_token %}
     
        <div class="mb-3">
          
          <input type="text" class="form-control" name="username" placeholder="First Name" required >
          
        </div>
        <div class="mb-3">
         
          <input type="password" class="form-control" name="password" placeholder="password" required>
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
    </div>





{% endif %}
{% endblock %}

